.frame-icon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.contact-us-svg {
  height: 70%;
}

.contact-us,
.div4 {
  position: relative;
  z-index: 1;
}
.contact-us {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.div4 {
  flex: 1;
  font-weight: 200;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.adminfundzae {
  align-self: stretch;
  position: relative;
  font-weight: 200;
  white-space: nowrap;
  z-index: 1;
}
.frame-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.contact-us-parent,
.frame-container,
.frame-group {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-24xl-1);
  font-family: var(--font-work-sans);
  gap: 50px;
}
.contact-us-parent {
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.div5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 15.3px;
  z-index: 1;
}
.frame-div {
  display: flex;
  align-items: flex-start;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-work-sans);
}
.page-8 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--color-tan-brown);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 412.8px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-24xl);
  font-family: var(--font-merriweather);
}

@media screen and (max-width: 975px) {
  .frame-container {
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-24xl-1);
    gap: 50px;
  }
}

@media screen and (max-width: 950px) {
  .frame-container {
    font-size: var(--font-size-18xl);
    gap: 25px;
  }
}

@media screen and (max-width: 700px) {
  .frame-container {
    font-size: var(--font-size-15xl);
    gap: 0px;
  }
}

@media screen and (max-width: 450px) {
  .frame-container {
    font-size: var(--font-size-12xl);
    gap: 0px;
  }
}

@media screen and (max-width: 975px) {
  .page-8 {
    gap: 206px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .contact-us {
    font-size: var(--font-size-39xl);
  }
  .adminfundzae,
  .div4 {
    font-size: var(--font-size-15xl);
  }
}
@media screen and (max-width: 700px) {
  .page-8 {
    gap: 103px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contact-us {
    font-size: var(--font-size-24xl);
  }
  .adminfundzae,
  .div4 {
    font-size: var(--font-size-7xl);
  }
  .contact-us-parent {
    gap: var(--gap-28xl);
  }
  .div5 {
    font-size: var(--font-size-lgi);
  }
}

@media screen and (max-width: 975px) {
  .contact-us-svg {
    height: 60%;
    width: auto;
  }
}

@media screen and (max-width: 950px) {
  .contact-us-svg {
    height: 55%;
    width: auto;
  }
}

@media screen and (max-width: 700px) {
  .contact-us-svg {
    height: 50%;
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-us-svg {
    height: 45%;
    width: auto;
  }
}
