.custom-post-closing-padding {
  padding-top: 25px !important;
}
.vector-image {
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.vector-image img {
  width: 30px;
  height: auto;
}

.sub-parent {
  display: flex;
  gap: 25px;
}

.key-image {
  max-height: 400px;
}

.frame-icon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.our-services {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.matchmaking,
.our-services {
  position: relative;
  z-index: 1;
}
.pairing-innovative-business,
.with-investors-looking {
  position: relative;
  font-weight: 300;
  flex-shrink: 0;
  z-index: 1;
}
.with-investors-looking {
  margin-right: -0.4px;
  line-height: 24px;
  z-index: 2;
}
.with-investors-looking-for-hig-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 12px);
}
.ventures {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 12px;
  flex-shrink: 0;
  z-index: 1;
}
.investors-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.potential-ventures {
  position: relative;
  font-weight: 200;
  z-index: 1;
  line-height: 30px;
}
.investors-content-parent,
.pairing-innovative-business-id-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.investors-content-parent {
  gap: var(--gap-7xs);
  flex-shrink: 0;
}
.pairing-innovative-business-id-parent {
  box-sizing: border-box;
  gap: var(--gap-6xs-1);
  font-size: var(--font-size-5xl);
  font-family: var(--font-work-sans);
}
.matchmaking-content {
  /* padding: 0 0 34.1px; */
  box-sizing: border-box;
  gap: var(--gap-sm-8);
  max-width: 100%;
}
.matchmaking-content,
.planning-content,
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolio {
  gap: var(--gap-6xs-1);
  font-size: var(--font-size-5xl);
  font-family: var(--font-work-sans);
}
.planning-content {
  gap: var(--gap-sm-8);
  flex-shrink: 0;
}
.maximum-returns {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  font-family: var(--font-work-sans);
  z-index: 1;
}
.planning-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-8);
  max-width: 100%;
}
.closing-coordination,
.financial-and-logistical {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.financial-and-logistical {
  font-weight: 300;
}
.activities {
  gap: var(--gap-6xs-1);
  font-size: var(--font-size-2xl);
  font-family: var(--font-work-sans);
}
.activities,
.closing-coordination-parent,
.matchmaking-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.closing-coordination-parent {
  gap: var(--gap-sm-8);
}
.matchmaking-content-parent {
  min-width: 368.9px;
}
.idea-presentation {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.pitches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
  flex-shrink: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-work-sans);
}
.idea-presentation-parent {
  padding: 0 0 40px;
  box-sizing: border-box;
  gap: var(--gap-sm-8);
  max-width: 100%;
}
.deal-structuring-parent,
.deals,
.idea-presentation-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.deals {
  gap: var(--gap-7xs-9);
  flex-shrink: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-work-sans);
}
.deal-structuring-parent {
  padding: 0 0 40px;
  box-sizing: border-box;
  gap: var(--gap-sm-8);
  max-width: 100%;
}
.post {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 70.8px;
  flex-shrink: 0;
  z-index: 2;
}
.closing,
.closing-support {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.closing {
  width: 21px;
  display: flex;
  align-items: flex-end;
}
.closing-support {
  margin-left: -0.7px;
  line-height: 32px;
  display: inline-block;
}
.closing-support-wrapper {
  flex-direction: column;
  padding: 0;
}
.closing-support-wrapper,
.support-content,
.transition {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-content {
  flex-direction: row;
  padding: 0 0 7.7px;
  row-gap: 20px;
  font-size: var(--font-size-22xl);
  font-family: var(--font-merriweather);
}
.transition {
  flex-direction: column;
  gap: var(--gap-7xs-9);
}
.empty,
.integration {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 125.3px;
  z-index: 1;
}
.empty {
  font-weight: 600;
  min-width: 14.3px;
}
.empty-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-work-sans);
}
.presentation-content {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.presentation-content,
.presentation-content-wrapper,
.services-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.presentation-content-wrapper {
  width: 379.6px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.7px 0 0;
  box-sizing: border-box;
  min-width: 379.6px;
}
.services-content {
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .item1 {
  flex-grow: 0;
  flex-basis: 25%;
}
.item2,
.item3 {
  flex-grow: 1;
  flex-basis: 34.5%;
} */
.page-5,
.services-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.services-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  font-size: var(--font-size-22xl);
  margin-bottom: 50px;
}
.page-5 {
  padding-top: 50px;
  width: 100%;
  position: relative;
  background-color: var(--color-tan-brown);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  gap: 50px;
  font-size: var(--font-size-24xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
@media screen and (max-width: 1300px) {
  .matchmaking-content-parent,
  .presentation-content-wrapper {
    flex: 1;
    min-width: 100%;
  }
  .services-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .services-content-wrapper {
    padding: 0 var(--padding-17xl) 0 var(--padding-17xl);
  }
  .page-5 {
    /* gap: 31px;
    padding-left: 367px;
    padding-right: var(--padding-40xl);
    box-sizing: border-box; */
  }
}
@media screen and (max-width: 800px) {
  .custom-post-closing-padding {
    padding-top: 0px;
  }
  .vector-image {
    width: 60px !important;
  }
  .sub-parent {
    flex-direction: column;
  }
  .key-image {
    max-height: 300px;
  }
  .services-content {
    gap: 50px;
  }
  .services-content-wrapper {
    padding: 0 var(--padding-17xl) 0 var(--padding-17xl);
  }
  .our-services {
    font-size: var(--font-size-39xl);
  }
  .closing-coordination,
  .idea-presentation,
  .matchmaking {
    font-size: var(--font-size-7xl);
  }
  .post {
    line-height: 26px;
  }
  .closing,
  .closing-support,
  .post {
    font-size: var(--font-size-7xl);
  }
  .closing-support {
    line-height: 26px;
  }
  .support-content {
    flex-wrap: wrap;
  }
  .page-5 {
    /* gap: 15px;
    padding-left: 183px;
    padding-right: var(--padding-10xl);
    box-sizing: border-box; */
  }
}
@media screen and (max-width: 450px) {
  .custom-post-closing-padding {
    padding-top: 0px;
  }
  .vector-image {
    width: 60px !important;
  }
  .sub-parent {
    flex-direction: column;
  }
  .key-image {
    max-height: 200px;
  }
  .services-content {
    gap: 75px;
  }
  .services-content-wrapper {
    padding: 0 var(--padding-17xl) 0 var(--padding-17xl);
  }
  .our-services {
    font-size: var(--font-size-24xl);
  }
  .matchmaking,
  .pairing-innovative-business {
    font-size: var(--font-size-lgi);
  }
  .with-investors-looking {
    line-height: 19px;
  }
  .closing-coordination,
  .financial-and-logistical,
  .maximum-returns,
  .potential-ventures,
  .ventures,
  .with-investors-looking {
    font-size: var(--font-size-lgi);
  }
  .matchmaking-content-parent {
    gap: 41px;
  }
  .idea-presentation {
    font-size: var(--font-size-lgi);
  }
  .post {
    line-height: 19px;
  }
  .closing,
  .post {
    font-size: var(--font-size-lgi);
  }
  .closing-support {
    line-height: 19px;
  }
  .closing-support,
  .empty,
  .integration {
    font-size: var(--font-size-lgi);
  }
  .presentation-content {
    gap: 25px;
  }
}
@media (min-width: 801px) and (max-width: 1300px) {
  .img-1 {
    width: 70px !important;
  }
  .img-2 {
    width: 60px !important;
  }
  .img-3 {
    width: 75px !important;
  }
  .img-4 {
    width: 55px !important;
  }
  .img-5 {
    width: 60px !important;
  }
  .img-6 {
    width: 85px !important;
  }
  .img-7 {
    width: 75px !important;
  }
  .img-8 {
    width: 65px !important;
  }
  .img-9 {
    width: 70px !important;
  }
  .img-10 {
    width: 80px !important;
  }
  .img-11 {
    width: 80px !important;
  }
  .img-12 {
    width: 80px !important;
  }
  .img-13 {
    width: 110px !important;
  }
}
